page-new-water-analysis {
	
	button.login {
		margin-top: 25px;
		background-color: white;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
		color: #333;
		
		&.activated {
			background-color: rgb(220, 220, 220);
		}
	}
	
	.buttonmenu{
		height: 6rem;
	}
	
	.imagenmenu {
		padding: 0 10px 0 0;
	}
	
	.subimagenmenu {
		padding: 5px 2px 0 0;
	}
	
	.backgroundSecondary {
		background-color: $background-secondary-color;
	}
	
	h5 {
		text-align: left;
		margin-left: 1rem;
		font-weight:  $fontSecondaryBold;
	}
	
	h6 {
		text-align: left;
		margin-left: 1rem;
		font-weight:  $fontSecondaryBold;
	}
	
	h6.marginline {
		margin-top: 36px;
	}
	
	.checkbalance{
		font-size: 5rem;
		margin-bottom: 4px;
		color: color($colors,secondary);
	}
	
	.checkbalancenumber{
		font-size: 2rem;
		margin-bottom: 4px;
		margin-top: 20px;
		color: color($colors,secondary);
	}
	
	.fontSecondary {font-weight:  $fontSecondaryBold;
	}
}
