<ion-nav id="nav" [root]="rootPage" #nav swipeBackEnabled="true"></ion-nav>

<ion-menu [content]="nav">

  <ion-header class="menudesplegable">
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menudesplegable">
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)" class="menudesplegable">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<!--
<ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-nav #content [root]="rootPage"></ion-nav>-->

