<ion-content scroll="false">
	<ion-searchbar
	  [(ngModel)]="myInput"
	  [showCancelButton]="shouldShowCancel"
	  (ionInput)="onInput($event)"
	  (ionCancel)="onCancel($event)">
	</ion-searchbar>
	
	<div class="margeninterno">
    <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
	</ion-list>
	</div>
</ion-content>

<ion-footer no-border>
    <button ion-button full><img class="subimagenmenu" src="../assets/icon/addmore-icon.svg" width="40px">ADD NEW RECOMMENDATION</button>
</ion-footer>


