page-previous-list {
	
	.margeninterno {
		margin: 4rem 4rem;
	}
	
	h5{
		text-align: left;
		margin-left: 1rem;
	}
	
	h4{
		color: color($colors,secondary);
	}
	
	p.textodisclaimer{
		color: color($colors,secondary);
		font-size: 1.5rem;
		text-align: justify;
	}
	
	.fontSecondary{
		font-weight:  $fontSecondaryBold;
	}
}
