page-tabs-results {
	.ion-ios-customicon,
	.ion-md-customicon {
		content: url('../assets/img/growinfo.svg');
		width: 30px;
		height: 30px !important;
	}

	.ion-ios-customicon-outline,
	.ion-md-customicon-outline{
		content: url('../assets/img/growinfo.svg');
		width: 30px;
		height: 30px !important;
		opacity: .4;
	}

	.ion-ios-customicon2,
	.ion-md-customicon2 {
		content: url('../assets/img/wanalysis.svg');
		width: 30px;
		height: 30px !important;
	}

	.ion-ios-customicon2-outline,
	.ion-md-customicon2-outline{
		content: url('../assets/img/wanalysis.svg');
		width: 30px;
		height: 30px !important;
		opacity: .4;
	}

	.ion-ios-customicon3,
	.ion-md-customicon3 {
		content: url('../assets/img/fsolution.svg');
		width: 30px;
		height: 30px !important;
	}

	.ion-ios-customicon3-outline,
	.ion-md-customicon3-outline{
		content: url('../assets/img/fsolution.svg');
		width: 30px;
		height: 30px !important;
		opacity: .4;
	}

	.ion-ios-customicon4,
	.ion-md-customicon4 {
		content: url('../assets/img/fertischeme.svg');
		width: 30px;
		height: 30px !important;
	}

	.ion-ios-customicon4-outline,
	.ion-md-customicon4-outline{
		content: url('../assets/img/fertischeme.svg');
		width: 30px;
		height: 30px !important;
		opacity: .4;
	}

	.ion-ios-customicon5,
	.ion-md-customicon5 {
		content: url('../assets/img/srecommen.svg');
		width: 30px;
		height: 30px !important;
	}

	.ion-ios-customicon5-outline,
	.ion-md-customicon5-outline{
		content: url('../assets/img/srecommen.svg');
		width: 30px;
		height: 30px !important;
		opacity: .4;
	}
	.footer {
   		bottom: 60px;
   	}

   	
}