<!-- HEADER BAR-->
<ion-header>

  <ion-navbar color="dark">

    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title>
      Input Data
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> 

<!-- APP CONTENT --> 

<ion-content scroll="false">
  <ion-grid>
    <ion-row justify-content-start>
      <!-- primera columna / contenido izquierdo-->
      <!--<ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 class="menu-lateral-movil backgroundSecondary" showWhen="landscape" hideWhen="portrait">
      </ion-col>-->
      <!-- segunda columna --> 
      <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
        <!--<form (ngSubmit)="actionFunction()">-->
        <form >
          <ion-row>
            <!-- segunda columna --> 
            <ion-col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6>
              <!--EC VALUE -->
              <h6>Enter E.C. value</h6>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label color="secondary" class="fontSecondary" stacked>Wanted E.C. value</ion-label>
                    <ion-input name="ECValue" type="number" placeholder="1.5" [(ngModel)]="data.ECValue"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-4>
                  <ion-label color="secondary" stacked>Standard E.C. value</ion-label>
                  <ion-label color="secondary">{{targetEC}} mS/cm</ion-label>
                </ion-col>
              </ion-row>
              <!--TANK SYSTEM -->
              <h6>Tank system</h6>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label color="secondary" class="fontSecondary" stacked>Size tank (I)</ion-label>
                    <ion-input name="sizeTank" type="number" placeholder="1000" [(ngModel)]="data.sizeTank"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-6>
                  <ion-item>
                    <ion-label color="secondary" class="fontSecondary" stacked>Dilution factor</ion-label>
                    <ion-input name="dilutionFactor" type="number" placeholder="1000" [(ngModel)]="data.dilutionFactor"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <!--SUBSTRATE -->
              <h6>Substrate</h6>

              <ion-row radio-group name="substrate" [(ngModel)]="data.substrate" (ionChange)="changeSubstrate()">
                <ion-col >
                  <ion-list>
                    <ion-item *ngFor="let subst of substrates">
                      <ion-label color="secondary" class="fontSecondary">{{subst.label1}}<br /><small>{{subst.label2}}</small></ion-label>
                      <ion-radio value="{{subst.id}}" [checked]="data.substrate == subst.id " ></ion-radio>
                    </ion-item>
                  </ion-list>
                </ion-col>                
              </ion-row>
              <!--ACID -->
              <h6>Select nitric acid of choice</h6>
              <ion-item>
                <ion-label color="secondary" floating >Nitric acid</ion-label>
                <ion-select (ionChange)='changeAcid(acidChoise)' [(ngModel)]="acidChoise"  name="acidChoise" multiple="false">
                    <ion-option color="secondary" *ngFor="let acid of acids" value="{{acid.id}}" [selected]="data.acidSource.id == acid.id" > {{ acid.name }}</ion-option>
                </ion-select> 
              </ion-item>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label color="secondary" class="fontSecondary" stacked>Concentration %</ion-label>
                    <ion-input name="acidConcentration" type="number" placeholder="38" [(ngModel)]="data.acidSource.concentration"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-4>
                  <ion-label color="secondary">Suggestion</ion-label>
                  <ion-label color="secondary">{{acidSuggestion.concentration}} %</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label color="secondary" class="fontSecondary" stacked>Density (kg/l)</ion-label>
                    <ion-input name="acidDensity" type="number" placeholder="1.235" [(ngModel)]="data.acidSource.density"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-4>
                  <ion-label color="secondary">Suggestion</ion-label>
                  <ion-label color="secondary">{{acidSuggestion.density}} kg/l</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
            <!-- tercera columna -->
            <ion-col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6>
              <!--CHLORIDE -->
              <h6>Calcium chloride source of choice</h6>
              <ion-item>
                <ion-label color="secondary"  floating>Chloride source</ion-label>
                 <ion-select (ionChange)='changeCalciumChloride(calciumChlorideChoise)' [(ngModel)]="calciumChlorideChoise"  name="calciumChlorideChoise" multiple="false">
                    <ion-option color="secondary" *ngFor="let calciumCl of calciumChlorides" value="{{calciumCl.id}}" [selected]="data.calciumChlorideSource.id == calciumCl.id" >{{ calciumCl.name }}</ion-option>
                </ion-select> 

              </ion-item>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label color="secondary" class="fontSecondary" stacked>% of CaO</ion-label>
                    <ion-input name="calciumChlorideConcentration" type="number" placeholder="63.9" [(ngModel)]="data.calciumChlorideSource.concentration"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-4>
                  <ion-label color="secondary">Suggestion</ion-label>
                  <ion-label color="secondary">{{calciumChlorideSuggestion.concentration}} %</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label color="secondary" class="fontSecondary" stacked>Density (kg/l)</ion-label>
                    <ion-input name="calciumChlorideDensity" type="number" placeholder="N.A." [(ngModel)]="data.calciumChlorideSource.density"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-4>
                  <ion-label color="secondary">Suggestion</ion-label>
                  <ion-label color="secondary">{{calciumChlorideSuggestion.density}} kg/l</ion-label>
                </ion-col>
              </ion-row>
              <!--CALCIUM -->
              <h6>Calcium nitrate source of choice</h6>
              <ion-item>
                <ion-label color="secondary"  floating>Calcium nitrate source</ion-label>

                <ion-select (ionChange)='changeCalciumNitatre()' [(ngModel)]="calciumNitrateChoise"  name="calciumNitrateChoise" multiple="false">
                    <ion-option color="secondary" *ngFor="let calciumNitrate of calciumNitrates" value="{{calciumNitrate.id}}" [selected]="data.calciumNitrateSource.id == calciumNitrate.id" >{{ calciumNitrate.name }}</ion-option>
                </ion-select> 

              </ion-item>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label color="secondary" class="fontSecondary" stacked>Concentration N%</ion-label>
                    <ion-input name="calciumNitrateConcentration" type="number" placeholder="N.A." [(ngModel)]="data.calciumNitrateSource.concentration"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-4>
                  <ion-label color="secondary">Suggestion</ion-label>
                  <ion-label color="secondary">{{calciumNitrateSuggestion.concentration}} %</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label color="secondary" class="fontSecondary" stacked>Density (kg/l)</ion-label>
                    <ion-input name="calciumNitrateDensity" type="number" placeholder="N.A." [(ngModel)]="data.calciumNitrateSource.density"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-4>
                  <ion-label color="secondary">Suggestion</ion-label>
                  <ion-label color="secondary">{{calciumNitrateSuggestion.density}} kg/l</ion-label>
                </ion-col>
              </ion-row>
              <!--IRON CHELATE -->
              <h6>Iron chelate source of choice</h6>
              <ion-item>
                <ion-label color="secondary"  floating>Iron chelate source</ion-label>
                <ion-select (ionChange)='changeIronChelate()' [(ngModel)]="ironChelateChoise"  name="ironChelateChoise" multiple="false">
                    <ion-option color="secondary" *ngFor="let iron of ironChelates" value="{{iron.id}}">{{ iron.name }}</ion-option>
                </ion-select> 


              </ion-item>

              <!-- custom iron chelate source -->
              <ion-row  *ngIf="data.ironChelateSource.id=='-1'" >
                <ion-col>
                  <ion-item>
                    <ion-label color="secondary" class="fontSecondary" stacked>Iron chelate</ion-label>
                    <ion-input name="ironChelatename" type="text" placeholder="N.A." [(ngModel)]="data.ironChelateSource.name" ></ion-input>
                  </ion-item>
                </ion-col>                
              </ion-row>
              <!-- custom iron chelate source -->
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label color="secondary" class="fontSecondary" stacked>Concentration Fe%</ion-label>
                    <ion-input name="ironChelateConcentration" type="number" placeholder="N.A." [(ngModel)]="data.ironChelateSource.concentration" ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-4>
                  <ion-label color="secondary">Suggestion</ion-label>
                  <ion-label color="secondary">{{ironChelateSuggestion.concentration}} %</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-border>
  <button ion-button full color="danger" (click)='addWaterAnalysis()'><span class="iconaddmore"></span>ADD WATER ANALYSIS</button>
  <button ion-button full (click)='goToFertigationProgram()'><span class="iconaddmore"></span>SEE FERTIGATION PROGRAMME</button>
</ion-footer>
