<!-- HEADER BAR-->
<ion-header>

  <ion-navbar color="dark">

    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title>
      Select crop and growth stage
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> 

<!-- APP CONTENT -->

<ion-content scroll="false" class="card-background-page">
    <ion-grid>
    <ion-row justify-content-start>
      <!-- primera columna / contenido izquierdo-->
      <!--<ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 class="menu-lateral-movil backgroundSecondary" showWhen="landscape" hideWhen="portrait">
        <div class="menuLateralList">
          <button ion-button full clear color="black" class="buttonmenu" id="select-crop"><span class="icongrow"></span>Select crop and growth stage</button>
			
          <button ion-button full clear color="black" class="buttonmenu" id="data-inp"><span class="iconinput"></span>Input data</button>
			
          <button ion-button full clear color="black" class="buttonmenu" id="ferti-prog"><span class="iconprogramme"></span>Fertigation programme</button>
		</div>
        </ion-col>-->
		<!-- segunda columna -->
        <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
			<ion-title><h6>First you must select CROP and then GROWTH STAGE</h6></ion-title>
			  <ion-card>
				  <div class="card-title tarjetas">
					<ion-list>
					  <ion-item>
						<ion-label class="textotarjetas">SELECT ONE CROP</ion-label>
						<ion-select  (ionChange)='selectCrop()' [(ngModel)]="selectedCropId"  name="selectedCropId" multiple="false">
						    <ion-option *ngFor="let item of CropsProvider.getAllCrops()" value="{{item.id}}" [selected]="selectedCropId == item.id" >
						    	{{item.name}}
						    </ion-option>
						</ion-select>
					  </ion-item>
					</ion-list>
					
					<!--<ion-list inset>
					  <button ion-item *ngFor="let item of auxCrop">
					    {{ item.name }}
					  </button> 
					</ion-list>-->



				  </div>
				<img src="assets/img/selectcrop.png"/>
				<!--<div class="card-title">SELECT ONE CROP</div>
				<div class="card-subtitle">41 Listings</div>-->
			  </ion-card>

			  <ion-card>
				  <div class="card-title tarjetas">
					<ion-list>
					  <ion-item>
						<ion-label class="textotarjetas">SELECT ONE GROWTH STAGE</ion-label>
						<ion-select  (ionChange)='selectStage()' [(ngModel)]="selectedStageId"  name="selectedCropId" multiple="false">
							<ion-option *ngFor="let item of selectedCrop.stages" value="{{item.id}}" [selected]="selectedStageId == item.id" >
						    
						    	{{item.name}}
						    
							</ion-option>
						</ion-select>
					  </ion-item>
					</ion-list>
				  </div>
				<img src="assets/img/selectstage.png"/>
				<!--<div class="card-title">SELECT ONE GROWTH STAGE</div>
				<div class="card-subtitle">64 Listings</div>-->
			  </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>